// Font-family variables

$main-font-family: 'Roboto', sans-serif;
$logo-font-family: 'Quicksand', sans-serif;
$title-font-family: 'Nunito Sans', sans-serif;

// Color variables

$main-dark-blue-color: #16133D;
$suptitle-grey-color: #7690A8;
$logo-color: #3DB370;
$footer-links: #0D0D0D;


// Font variables   

@mixin logo-font {
    color: $main-dark-blue-color;
    font-family: $logo-font-family;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

@mixin section-suptitle {
    color: $suptitle-grey-color;
    font-family: $main-font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

