/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Lato', sans-serif;

    --hero-title-font: 400 34px/46px var(--main-font);
    --section-title-font: 400 28px/40px var(--main-font);
    --text-font: 400 16px/28px var(--main-font);
    --button-text-font: 700 14px/20px var(--main-font);
    --benefits-item-font: 700 16px/28px var(--main-font);
    --steps-title-item-font: 700 22px/normal var(--main-font);
    --steps-description-item-font: 400 16px/24px var(--main-font);
    --steps-count-font: 300 48px/normal var(--main-font);


    /* Variable colors */
    --white-color: #fff;
    --dark-blue-color: #020046;
    --green-color: #3EC08E;
}

body {
    background-color: var(--dark-blue-color);
    font-family: var(--main-font);
}

.wrapper {
    max-width: 1920px;
}

.container {
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
}

.button {
    width: 340px;
    max-height: 48px;
    background-color: var(--green-color);
    font: var(--button-text-font);
    border-radius: 26px;
    padding: 14px 0;
    border: var(--green-color);
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.5s;
}

.button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.text {
    font: var(--text-font);
    color: var(--white-color);
}

.sub-title {
    font: var(--section-title-font);
    color: var(--white-color);
}

/* Header */

.header__container {
    align-items: center;
    justify-content: end;
    width: 100%;
    margin-top: 52px;
    gap: 7px;
}

.header__container:hover {
    cursor: pointer;
}

.login__link {
    font: var(--main-font);
    color: var(--green-color);
    text-decoration: none;
}

/* Header END*/

/* Hero */

.hero__container {
    display: flex;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 100px;
}

.hero__description {
    max-width: 360px;
    display: flex;
    flex-direction: column;
}

.hero__title {
    font: var(--hero-title-font);
    margin-bottom: 24px;
    color: var(--white-color);
    max-width: 483px;
    max-height: 138px;
}

.hero__text {
    margin-bottom: 32px;
    max-width: 360px;
    max-height: 84px;
}

.header-hero-container {
    background-image: url(../img/top-img-players.jpg);
    height: 639px;
    display: flex;
    flex-direction: column;
}

/* Hero END*/

/* Second section */

.second__container {
    justify-content: end;
    /* max-height: 540px; */
}

.second-description {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    margin: 100px 120px 100px 0;
}

.second__sub-title {
    margin-bottom: 24px;
}

.second__text {
    margin-bottom: 32px;
}

.second__image {
    overflow: hidden;
}

.second {
    background-image: url(../img/second-bitcoin.png);
    background-repeat: no-repeat;
}

/* Second section END*/

/* Third section */

.third__description {
    max-width: 500px;
    max-height: 256px;
    margin: 100px 0 244px;
}

.third__sub-title {
    margin-bottom: 24px;
}

.third__text {
    margin-bottom: 32px;
}

.third {
    background-image: url(../img/hand-cup-2.png);
    background-repeat: no-repeat;
    background-position: 60% 50%;
}

/* Third section END*/
