.header {
    padding-top: 128rem;
    margin-bottom: 128rem;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}

.nav__list {
    display: flex;
    flex-direction: row;
    gap: 53rem;
    align-items: center;


    .nav__link {


        &::after {
            content: '';
            display: block;
            opacity: 0;
            width: 0%;
            height: 1rem;
            background-color: var(--Base-black);
            margin: 0 auto;
            margin-top: 4rem;
            transition: all 0.5s;
        }

        &:hover::after {
            opacity: 1;
            width: 70%;
        }
    }
}
