* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font-family);
    text-align: center;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.main {
    padding: 120px 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section {
    margin-bottom: 120px;
}

.title {
    margin-bottom: 80px;
    font-family: var(--add-font-family);
    font: var(--title-font);
}

.container {
    max-width: 1170px;
    min-width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.container__item {
    position: relative;
    margin: 0 auto;
    transition: all 0.5s;
    height: 100%;
}

.gradient-overlay {
    position: absolute;
    opacity: 0.5;
    border-radius: 20px;
    top: 250px;
    right: 0;
    bottom: 5px;
    left: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
  }



.container__item:hover {
    transform: scale(1.05);
    cursor: url('../img/icons/hand-point-up.svg'), auto;
}

.img {
    border-radius: 20px;
    opacity: 0.8;
}

.left-text {
    font: var(--text-bold-font);
    color: var(--main-white-color);
}

.right-text {
    font: var(--text-font);
    color: var(--gray-5-color);
}

/* Fonts */

:root {
    
    --main-font-family: 'Roboto', sans-serif;
    --add-font-family: 'Kalnia', serif;

    --title-font: 400 36px/24px var(--add-font-family);
    --text-bold-font: 500 20px/24px var(--main-font-family);
    --text-font: 400 20px/24px var(--main-font-family);

    --main-white-color: #FFFFFF;
    --add-black-color: #000000;
    --gray-5-color: #E0E0E0;
}

/* Fonts END*/

/* City */

.city__container {
    grid-template-rows: repeat(3, 1fr);
}

.city__text-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.item1 {
    grid-area: 1/1/2/2;
}

.item2 {
    grid-area: 1/2/2/4;
}

.item3 {
    grid-area: 2/1/3/3;
}

.item4 {
    grid-area: 2/3/3/4;
}

.item5 {
    grid-area: 3/1/4/2;
}

.item6 {
    grid-area: 3/2/4/4;
}

/* City END*/

/* Nature */

.nature__container {
    grid-template-rows: repeat(4, 1fr);
}

.nature__text-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.item7 {
    grid-area: 1/1/2/2;
}

.item8 {
    grid-area: 1/2/2/4;
}

.item9 {
    grid-area: 2/1/4/3;
}

.item10 {
    grid-area: 2/3/4/4;
}

.item10 img {
    border-radius: 20px;
}

.item11 {
    grid-area: 4/1/5/3;
}

.item12 {
    grid-area: 4/3/5/4;
}

/* Nature END*/

/* People */

.people__container {
    grid-template-rows: repeat(5, 1fr);
}

.people__text-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.item13 {
    grid-area: 1/1/2/2;
}

.item14 {
    grid-area: 1/2/3/3;
}

.item15 {
    grid-area: 1/3/2/4;
}

.item16 {
    grid-area: 2/1/3/2;
}

.item17 {
    grid-area: 2/3/4/4;
}

.item18 {
    grid-area: 3/1/5/2;
}

.item19 {
    grid-area: 3/2/4/3;
}

.item20 {
    grid-area: 4/2/5/4;
}

.item21 {
    grid-area: 5/1/6/3;
}

.item22 {
    grid-area: 5/3/6/4;
}
/* People END */