* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

input {
    border: none;
    font: inherit;
}

/* Font styles */

:root {
    --main-font-family: 'Barlow', sans-serif;
    --header-font-family: 'Silkscreen', sans-serif;
    --title-font-family: 'Playfair Display', serif;

    --main-text-font: 400 20px/normal var(--main-font-family);
    --nav-font: 400 18px/normal var(--header-font-family);
    --title-font: 700 36px/normal var(--title-font-family);
    --button-font: 700 16px/normal var(--main-font-family);

    --main-black-color: #000;
    --main-text-color: #fff;
    --button-color: #7F00FF;
}

/* Font styles END*/

/* General styles */

body {
    font: var(--main-text-font);
    color: var(--main-text-color);
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* General styles END*/

/* Header */

.header {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(1,133,202,1) 50%, rgba(2,48,96,1) 85%, rgba(2,0,36,1) 100%);
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0;
    align-items: center;
}

.menu {
    font: var(--nav-font);
    display: flex;
    gap: 15px;
}

.menu__link {
    color: var(--main-text-color);
    transition: all 0.5s;
}

.menu__link:hover {
    color: var(--button-color);
}

.nav__logo {
    justify-self: center;
    transition: all 0.5s;
}

.nav__logo:hover {
    transform: scale(1.2);
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--button-color);
    border-radius: 10px;
    padding: 10px;
    max-width: 300px;
    gap: 10px;
}

.search-form__text {
   border: none;
   outline: none;
   background-color: transparent;
   color: var(--main-text-color);
}

.search-form__text::placeholder {
    color: var(--main-black-color);
    opacity: 0.5;
}

.search-form__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
}

.search-form__btn:hover {
    transform: scale(1.2);
}

.search-form__btn:active {
    transform: scale(0.8);
}

.search-form__img {
    width: 25px;
}

/* Header END*/

/* Hero */

.hero {
    height: calc(100vh - 94px);
    /* height: 100%; */
    position: relative;
    background-color: var(--main-black-color);
}

.hero__container {
    padding-top: 300px;
}

.hero__item-img {
    position: absolute;
}

.doodle-1 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.doodle-2 {
    position: absolute;
    left: 30%;
    top: 2%;
}

.doodle-3 {
    position: absolute;
    left: 5%;
    top: 10%;
}

.hero__item-earth {
    position: absolute;
    width: 600px;
    height: 600px;
    right: 8%;
    bottom: 0;
    transform: rotate(23deg);
    order: -1;
}

.content-box {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.hero__title {
    font: var(--title-font);
    margin-bottom: 40px;
}

.hero__text {
    font: var(--main-text-font);
}