.footer {
    padding: 3.125rem 0;

    @media (min-width: $media-xxl) {
        padding: 4.375rem 0;
    }
}

.footer__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @media (min-width: $media-xxl) {
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        align-items: center;
    }
}

.Footer-title {
    @media (min-width: $media-xxl) {
        font-size: 3rem;
        letter-spacing: .15rem;
    }
}

.footer__email {
    margin-bottom: 0;
}

.footer-row__content {
    display: flex;
    margin: 0 auto;
    gap: 1.4375rem;

    @media (min-width: $media-xxl) {
        margin: 0;
    }
}

.social-wrapper {
    border: .0625rem solid var(--Grey-700);
    width: 3.125rem;
    height: 3.125rem;
}

.social-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url('../../img/cursor.svg'), auto;

    @media (min-width: $media-xxl) {
        &:hover {
            background-color: var(--Grey-700);
        }
    
        &:hover svg path {
            fill: var(--White-color);
        }
    }
}

.Footer-bottom {

    @media (min-width: $media-xxl) {
        position: absolute;
        bottom: -2.5rem;
        left: 50%;
        transform: translateX(-50%);
    }

}