$bg-color-black: black;
$color-green: green;
$color-blue: blue;
$color-red: red;
$block-width: 40%;
$fontSize: 10px;

@mixin font {
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-red;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 10px;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block {
    height: 200px;
    margin-bottom: 20px;
    background-color: $color-green;
}

.block:not(.first) {
    width: $block-width;
}

.central-block {
    padding: 30px;
    .list {
        list-style: none;
        &__item {
            color: $color-blue;
            font-size: $fontSize;
            a {
                color: aquamarine;
            }
        }
        &__text {
            font-size: 25px;
            color: white;
        }
    }
    a {
        @include font;
    }
}



.block:nth-child(3) {
    background-color: $color-blue;
}

