.bs__container {
    display: flex;
    flex-direction: column;
    gap: 3.125rem   ;
}

.main-title {
    text-align: center;
    margin-bottom: 3.125rem;
}

.bs-row {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.bs-row__item {
    &--suptitle {
        margin-bottom: 1.875rem;
    }

    &--date {
        margin-bottom: 40px;
    }
}
