.hero {
    padding: 4.375rem 0 14.375rem 0;
    background-image: url(../../img/hero/bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: $media-md) {
        padding: 1.875rem 0 11.875rem 0;
        background-image: url(../../img/hero/bg-image-tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.hero__title {

    @media (min-width: $media-md) {
        max-width: 33.125rem;
        font-size: 2.25rem;
        letter-spacing: .1125rem;
    }
}