.lp-title__wrapper {
    display: flex;
    flex-direction: column;
    gap: .625rem;
    margin-bottom: 1.875rem;

    @media (min-width: $media-md) {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3.125rem;
    }
}

.view-all {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    cursor: pointer;
}

.lp-row {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;

    @media (min-width: $media-xxl) {
        display: flex;
        flex-direction: column;
    }
}

.lp-row__item {

    &:nth-child(2) {
        @media (min-width: $media-md) {
            flex-direction: row-reverse;
        }
    }

    @media (min-width: $media-md) {
        display: flex;
        gap: 1.25rem;
    }

    &--img {
        margin-bottom: 1.5625rem;
        max-width: 18.75rem;
        max-height: 15.625rem;

        @media (min-width: $media-md) {
            max-width: 21.25rem;
            max-height: 17.5rem;
        }

        @media (min-width: $media-xxl) {
            max-width: 35.625rem;
            max-height: 29.375rem;
        }
    }
}

.content--suptext {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5625rem;

    @media (min-width: $media-md) {
        font-size: .75rem;
        letter-spacing: .075rem;
    }
}
.content--title {
    margin-bottom: 1.25rem;
}

.content--text {
    letter-spacing: .05rem;
}
