@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Red+Hat+Display:wght@400;500;600&display=swap');
// font-family: 'Lato', sans-serif; 400/700
// font-family: 'Red Hat Display', sans-serif; 400/500/600

:root {

    // Font Family
    --Lato-font: 'Lato', sans-serif;
    --Red-Hat-Display-font: 'Red Hat Display', sans-serif;

    // Text fonts
    --H1-Blog: 600 rem(48)/rem(64) var(--Red-Hat-Display-font);
    --H2-Need: 400 rem(32)/normal var(--Red-Hat-Display-font);
    --H3-Manifest: 600 rem(40)/rem(50) var(--Red-Hat-Display-font);  
    --H4-section-title: 600 rem(28)/rem(36) var(--Red-Hat-Display-font);
    --H5-column-item-title: 500 rem(22)/rem(36.5) var(--Red-Hat-Display-font);
    --H6-date-text: 400 rem(16)/rem(26.6) var(--Lato-font);

}

// Hero section
.H3-Manifest {
    font: var(--H3-Manifest);
    letter-spacing: rem(1.5);
    // font-family: var(--Red-Hat-Display-font);
    // font-weight: 600;
}

// Blog section
.H1-Blog {
    font: var(--H1-Blog);
    letter-spacing: rem(2.4);
}

.H5-column-item-title {
    font: var(--H5-column-item-title);
    letter-spacing: rem(2.2);
}

.H6-date-text {
    font: var(--H6-date-text);
    letter-spacing: rem(1.6);
}

// Latest-Posts section
.H4-section-title {
    font: var(--H4-section-title);
    letter-spacing: rem(1.4);
}

// The-Most-Popular


