:root {
    --Base-dark-blue: #16133D;
    --Base-green: #3DB370;
    --Black:#0D0D0D;
    --Base-white: #FFFFFF;
    --White-footer-icons: #EFEEF3;
    --suptitle-color: #7690A8;
    --item-border-color: rgba(21, 101, 216, 0.102);
    --item-border-hover-color: #52C29D;
    --Base-blue: #007FFC;
}