@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&family=Roboto:wght@400;700&display=swap');

// font-family: 'Nunito Sans', sans-serif; 600
// font-family: 'Roboto', sans-serif; 400/700

:root {

    // Font Family
    --roboto-ff: 'Roboto', sans-serif;
    --nunito-ff: 'Nunito Sans', sans-serif;


    // Text fonts
    
    --suptitle-font: 400 16rem/normal var(--roboto-ff);
    --title-font: 600 40rem/normal var(--nunito-ff);
    --item-title-font: 400 24rem/normal var(--roboto-ff);
    --item-text-font: 400 16rem/normal var(--roboto-ff);
    --learn-more-font: 700 16rem/normal var(--roboto-ff);
}


// Title
    .suptitle {
        font: var(--suptitle-font);
        line-height: 21rem;
        text-transform: uppercase;
        color: var(--suptitle-color);
        margin-bottom: 15rem;
    }

    .title {
        font: var(--title-font);
        line-height: 52rem;
        letter-spacing: 0.2rem;
        margin-bottom: 40rem;
    }

    .item-title {
        font: var(--item-title-font);
        line-height: 21.3rem;
        letter-spacing: 0.2rem;
        margin-bottom: 15rem;
    }

    .item-text {
        font: var(--item-text-font);
        line-height: 28rem;
        margin-bottom: 30rem;
        max-width: 275rem;
    }

    .learn-more {
        font: var(--learn-more-font);
        color: var(--Base-green);
    }

// Text
