.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(20) 0;
}

.nav {
    display: flex;
    align-items: center;
    gap: rem(20);

    .search-button {
        width: rem(20);
        height: rem(20);
    }

    .burger-menu {
        position: relative;
        width: rem(34);
        height: rem(2);
        background-color: var(--Base-black);

        &::before {
            content: '';
            display: block;
            width: rem(34);
            height: rem(2);
            background-color: var(--Base-black);
            position: absolute;
            left: 0;
            top: rem(-8);
        }

        &::after {
            content: '';
            display: block;
            width: rem(34);
            height: rem(2);
            background-color: var(--Base-black);
            position: absolute;
            left: 0;
            top: rem(8);
        }
    }
}