.hero__container {
    display: flex;
    flex-direction: column;
    gap: 50rem;
    margin-bottom: 90rem;

    .hero__item-block:last-child {

        margin-right: 0;
    }
}

.hero__item-block {
    display: flex;
    gap: 30rem;

    .hero__img {
        width: 570rem;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 450rem;
    }

    .item-block__tag {
        margin-bottom: 30rem;
    }

    .item-block__item-title {
        margin-bottom: 15rem;
        max-width: 370rem;
    }

    .item-block__date {
        margin-bottom: 50rem;
    }

    .item-block__text {
        max-width: 448rem;

        &--arrow {
            margin-left: 17rem;
        }
    }
}

.item-block__second {
    align-self: flex-end;
}