.latest-posts__container {
    display: flex;
    flex-direction: column;
    gap: 50rem;
}

.title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item-block__text--arrow {
        margin-left: 17rem;
    }
}

.latest-posts__row {
    display: flex;
    gap: 30rem;
    margin-bottom: 115rem;
    flex-wrap: wrap;
    justify-content: center;
}

.row__item {
    max-width: 370rem;
    display: flex;
    flex-direction: column;
    gap: 25rem;

    &--suptitle-block {
        display: flex;
        justify-content: space-between;
        font-size: 12rem;
        letter-spacing: 1.2rem;
    }
}
