.title-section {
    margin-bottom: 90rem;
    background-image: url('../../img/bg-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 600rem;

    &__container {
        padding: 100rem 400rem 380rem 0;
    }
}