/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 120px;
}

body {
    font-family: var(--main-font-family);
}

a {
    text-decoration: none;
    color: var(--text-black-color);
    margin: 0;
    padding: 0;
}

/* Global styles END*/

/* Variable */

:root {

    --nav-font: 400 16px/28px var(--main-font-family);
    --header-btn-font: 600 16px/24px var(--main-font-family);
    --hero-title-font: 700 44px/54px var(--main-font-family);
    --hero-text-font: 400 18px/28px var(--main-font-family);
    --hero-btn-font: 700 16px/24px var(--add-font-family);
    --features-title-font: 700 36px/44px var(--main-font-family);
    --features-block-title-font: 600 22px/27px var(--main-font-family);
    --features-text-font: 400 16px/26px var(--main-font-family);
    --footer-title-font: 700 20px/30px var(--main-font-family);
    --footer-input-font: 400 16px/19.5px var(--main-font-family);

    --main-font-family: 'Montserrat', sans-serif;
    --add-font-family: 'Poppins', sans-serif;


    --main-white-color: #FFF;;
    --text-black-color: #2F281E;  
    --btn-orange-color: #F90;  
}

/* Variable END*/

/* Header */

.header {
    text-align: center;
    padding: 17px 0;
    margin: 0 auto;
    min-height: 80px;
    margin-bottom: 70px;
}

.header__container {
    min-height: 46px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Header END*/

.header__logo {
    width: 200px;
}

.nav {
    width: 352px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.nav__links:hover {
    color: var(--btn-orange-color);
}

.header__buttons {
    display: flex;
    gap: 32px;
}

button {
    font-family: var(--main-font-family);
}

.header__buttons_in {
    background-color: var(--main-white-color);
    padding: 13px 25px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    font: var(--header-btn-font);
    cursor: pointer;
}

.header__buttons_in:hover {
    color: var(--main-white-color);
    background-color: var(--btn-orange-color);
    border: 1px solid var(--text-black-color);
}

.header__buttons_up {
    background-color: var(--main-white-color);
    padding: 13px 25px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    font: var(--header-btn-font);
    cursor: pointer;
}

.header__buttons_up:hover {
    color: var(--main-white-color);
    background-color: var(--btn-orange-color);
    border: 1px solid var(--text-black-color);
}

/* Hero */

.hero__container {
    height: 495px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.hero__title {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.hero__title--h1 {
    font: var(--hero-title-font);
    margin-bottom: 30px;
}

.hero__text {
    font: var(--hero-text-font);
    margin-bottom: 20px;
}

.button {
    max-width: 181px;
    background-color: var(--btn-orange-color);
    padding: 13px 40px;
    border-radius: 4px;
    border: none;
    font: var(--hero-btn-font);
    cursor: pointer;
    color: var(--main-white-color);
}

.hero__button:hover {
    color: var(--main-white-color);
    background-color: var(--main-white-color);
    border: 1px solid var(--text-black-color);
    color: var(--text-black-color);
}

/* Hero END*/

/* Features */

.features__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.features__title {
    max-width: 540px;
    text-align: center;
    font: var(--features-title-font);
    margin-bottom: 50px;
}

.features__block {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 70px;
}

.features__item {
    max-width: 270px;
}

.features__icon {
    margin-bottom: 30px;
}

.features__subtitle {
    font: var(--features-block-title-font);
    margin-bottom: 16px;
}

.features__button {
    text-align: center;
}

/* Features END*/

/* Footer */
.footer {
    border-top: 1px solid #BCD0E57F;
}

.footer__container {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    gap: 130px;
    /* flex-wrap: wrap; */
}

.footer__nav {
    display: flex;
    flex-direction: column;
}

.nav__title {
    margin-bottom: 30px;
    font: var(--footer-title-font);
}

.form__title {
    margin-bottom: 25px;
    font: var(--footer-title-font);
    min-width: 280px;
    max-width: 310px;
}

.form__input {
    padding: 15px 0 15px 10px;
    font: var(--footer-input-font);
    min-width: 340px;
    color: var(--text-black-color);
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    margin-bottom: 25px;
}

.footer__button:hover {
    background-color: var(--main-white-color);
    border: 1px solid var(--text-black-color);
    color: var(--text-black-color);
    max-height: 50px;
}
